/* Общие стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Симметрия и центрирование */
.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Шапка */
.main-header {
    background-color: #2d2f48;
    padding: 20px 0;
}

.logo h1 {
    color: #f60;
    font-size: 1.7em;
    font-weight: 700;
}

.nav-list {
    list-style-type: none;
}

.nav-list li {
    display: inline-block;
    margin-left: 20px;
}

.nav-list li a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
}

.nav-list li a:hover {
    color: #f60;
}

/* Герой секция */
.hero {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.background-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.hero-content {
    z-index: 2;
    max-width: 600px;
    padding: 20px;
}

.hero-content h1 {
    font-size: 3em;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.hero-content h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.cta-button {
    padding: 15px 30px;
    background-color: #f60;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    text-decoration: none;
    font-weight: bold;
}

.cta-button:hover {
    background-color: #d44e00;
}

/* Футер */
footer {
    background-color: #2d2f48;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
}

